.headline {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.image {
    height: 600px;
    width: 600px;
}
.back-to {
    background-color: green;
    color: black;
    font-size:24px;
}